<div class="bg-image h-100" ></div>

<div class ="bg-text">

<div class="jumbotron" style="background-color: rgba(255, 255, 255, 0)" > 
  <h1 style="margin-top:30%;color:rgb(255, 255, 255);font-family:cursive; background-color:rgba(0, 0, 0, 0.219);font-size: 35px;; text-align: center">Hello Filenet Team</h1>
  
  <div  style="text-align: center;margin-top: 20px;"><button mat-raised-button style="width:175px; background-color: deepskyblue; height:60px; font-size: 30px;font-family:cursive;border: 2px solid rgb(255, 255, 255);" routerLink="/login_app">Click Here </button> </div>
</div>

  </div>
