<div style="align-content: center;font-family:cursive;">
<div style="background-image: url('./assets/img/main.jpg');background-repeat: no-repeat;background-size:  100%; ">

<div class="jumbotron" style="background-color: rgba(255, 255, 255, 0)" > 
  <h1 style="margin-top:28%;color:rgb(0, 0, 0);font-family:cursive; background-color:rgba(0, 0, 0, 0.295);font-size: 35px;; text-align: center">Hello Filenet Team</h1>
  <h4 style="left:10px;color:rgb(0, 0, 0);font-family:cursive; font-size: 20px;">There is much more to be missed about you all.</h4>
  
  <div  style="text-align: center;"><button mat-raised-button color="primary"  style="width:130px; height:60px; font-size: 30px;background-color: deepskyblue;font-family:cursive;">Login</button> </div>
  <!-- <div  style="text-align: center;"><button mat-raised-button color="primary" routerLink="/login" style="width:130px; height:60px; font-size: 30px;background-color: deepskyblue;font-family:cursive;">Login</button> </div> -->
</div>

    
  </div>

  </div>
