<div class="jumbotron" style="background-color: deepskyblue"> 

  <img width="100"  src="./assets/img/profile.JPG">

  <h2>Chintan</h2>
<p>welcome to the very first app of mine.</p>
</div>

  <div class="container">
    <form>
    <div class="form-group col-sm-4"><button mat-stroked-button color="primary" routerLink="/login">Login</button> </div>
    <div class="container" style="font-size: 12px;">Not a registered user? <br>Please sign in to continue.</div> 
    <div class="form-group col-sm-4"><button mat-stroked-button color="primary">Sign up</button> </div>
    </form>
  </div>
    
