
<div  style="padding: 10px; background-image: url('./assets/img/startbackground.jpg');">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image':'url('+data.image+')'}"></div>
    <mat-card-title>{{data.name}}</mat-card-title>
    <mat-card-subtitle>{{data.nick}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="data.image">
  <mat-card-content>
    <p style="font-family: cursive;font-size: 20px;color: deepskyblue;font-weight: bold;">
      {{data.description}}
    </p>

    <div class="container" style="padding: 10px;">
    <ul>
      <li><p style="color:indigo">{{data.thing1}}</p></li>
      <br>
      <li><p style="color:indigo">{{data.thing2}}</p></li>
      <br>
      <li><p style="color:indigo;">{{data.thing3}}</p></li>
      <br>
      <li><p style="color:indigo">{{data.thing4}}</p></li>
    </ul>
    </div>
  
    <div class="jumbotron" style="margin-top: 10px;background-image: url('./assets/img/quote2.jpg');background-size:cover">
      <h2 style="font-family: cursive;color: rgb(0, 0, 0)">{{data.speciality}}</h2>
      <h4 style="font-family: cursive;color:darkgreen; text-align: center;"><i class="fa fa-hand-spock-o" aria-hidden="true"></i> All the Best <i class="fa fa-hand-spock-o" aria-hidden="true"></i> </h4>
      <h4 style="font-family: cursive;color:red; text-align: center;">Thank You!!<i class="fa fa-thumbs-up" aria-hidden="true"></i> </h4>
    </div>

  </mat-card-content>
  <mat-card-actions style="text-align: center">
    <button mat-raised-button (click)="openDialog()" >Contact Me</button>
  </mat-card-actions>
</mat-card>
</div>