.example-card {
    max-width: 1000px;
    align-items: center;
    margin:auto;
  }
  
 
  .example-header-image {
    background-size: cover;
  }

  .bg-image {
    background-image: url("../../assets/img/back.png"); 
   filter: blur(4px);
   -webkit-filter: blur(3px);
   height: 90%; 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }


 
 .bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: rgb(0, 0, 0);
   
    border: 2px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align:left;

  }